<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head}">
</head>

<nav th:replace="~{fragments :: header}"></nav>

<body>

<div class="container body-content">

    <section class="vacationInfo">

        <h1 class="viewHeader" th:text="${'My Vacation To ' + vacation.city + ', ' + vacation.country + ' on ' + #temporals.format(vacation.vacationDate, 'MM-dd-yyyy')}">View Vacation</h1>

    </section>

    <section class="countdownSection">

        <div id="countdownContainer" style="display: none;">
            <a data-type="countdown"
               data-name="Time for vacation in:"
               data-bg_color="#97B8FF"
               data-name_color="#008922"
               data-border_color="#888888"
               data-dt=""
               data-timezone="America/Chicago"
               style="display:block; left:0; width:80%; height:100px; position:relative; padding-bottom:0; margin:0 auto;"
               class="tickcounter"
               href="//www.tickcounter.com"
            >Countdown</a>
        </div>

        <script th:inline="javascript">
            document.addEventListener("DOMContentLoaded", function() {

                var vacationDate = /*[[${vacation.vacationDate}]]*/ 'default_value';

                startCountdown(vacationDate);
            });

            function startCountdown(vacationDate) {
                document.querySelector('.tickcounter').setAttribute('data-dt', vacationDate);

                document.getElementById('countdownContainer').style.display = 'block';

                loadTickCounterScript();
            }

            function loadTickCounterScript() {
                (function(d, s, id) {
                    var js, pjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//www.tickcounter.com/static/js/loader.js";
                    pjs.parentNode.insertBefore(js, pjs);
                }(document, "script", "tickcounter-sdk"));
            }
        </script>

    </section>

    <!-- TO-DO: Add local time API or widget-->
<section class="itinerary">
    <h1> Itinerary:</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Plan of Action</th>
        </tr>
        </thead>
<!--        <tr th:each="vacation: ${vacations}">-->
<!--            <td>-->
<!--                <a th:text="${vacation.city}" th:href="@{'/view/' + ${vacation.id}}"> </a>-->
<!--            </td>-->
<!--        </tr>-->
    </table>
</section>



    <h1>Trip Inspiration: </h1><br>
        <section class="video-container">

            <div th:each="activity: ${activities}">

                <iframe width="560" height="315" th:src="${activity.embedUrl}" allowfullscreen></iframe>

            </div>
        </section>

    <section class="notes">
        <h2>Notes</h2>
        <ul th:each="activity:${activities}">

            <li th:unless="${activity.notes.isEmpty()}" class="videoCaption" th:text="${activity.title}+ ': ' + ${activity.notes}"></li>
        </ul>

    </section>

    <div class="activityNav">
        <a th:href="@{'/add-activity'}" class="btn btn-info" role="button">Add Trip Inspiration</a>&nbsp;
        <a th:href="@{'/delete-activity'}" class="btn btn-danger" role="button">Delete Trip Inspiration</a>&nbsp;
    </div>


</div>


</body>
</html>